<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sharenotes?zeroDateTimeBehavior=convertToNull</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
        
        <!-- c3p0 config https://community.jboss.org/wiki/HowToConfigureTheC3P0ConnectionPool -->
        <!-- http://hibernatedb.blogspot.cz/2009/05/automatic-reconnect-from-hibernate-to.html -->
        <!-- http://stackoverflow.com/questions/7565143/com-mysql-jdbc-exceptions-jdbc4-mysqlnontransientconnectionexception-no-operati -->       
        <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.acquire_increment">1</property> 
        <property name="hibernate.c3p0.idle_test_period">100</property> <!-- seconds --> 
        <property name="hibernate.c3p0.max_size">20</property> 
        <property name="hibernate.c3p0.max_statements">0</property> 
        <property name="hibernate.c3p0.min_size">2</property> 
        <property name="hibernate.c3p0.timeout">1800</property> <!-- seconds --> 
        
        <mapping class="model.ShareId"/>
        <mapping class="model.User"/>
        <mapping class="model.Share"/>
        <mapping class="model.Note"/>
    </session-factory>
</hibernate-configuration>
